section.hero .banner {
    background-image: url('../images/banner.jpg');
    height: 440px;
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    padding-left: 75px;
}

section.hero .banner_text span {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    color: var(--primary-color);
}

section.hero .banner_text h2 {
    font-size: 46px;
    color: #252525;
    line-height: 52px;
    font-weight: 700;
    margin: 10px 0;
}

section.hero .banner_text p {
    font-size: 16px;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
}

section.hero .banner_text a {
    display: inline-block;
    font-size: 14px;
    padding: 12px 28px 12px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    background: var(--primary-color);
    letter-spacing: 2px;
}

section.random_cate>div {
    margin-top: 3rem;
    justify-content: flex-start;
}

section.random_cate .item_col {
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

section.random_cate .item {
    height: 290px;
    position: relative;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    padding-bottom: 2.5rem;
}

section.random_cate .item img {
    width: 100%;
    height: 100%;
}

section.random_cate .item h5 {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 20px;
    bottom: 10px;
    text-align: center;
    font-size: 18px;
}

section.random_cate .item h5 a {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 12px 0 10px;
    background: var(--primary-color);
    display: block;
    color: #fff;
}

section.hot_product,
section.blog {
    margin-top: 5rem;
}

section.hot_product {
    padding-bottom: 3rem;
}

section.hot_product h2,
section.blog h2 {
    text-align: center;
    font-size: 2.2rem;
    color: #1c1c1c;
    font-weight: 700;
    position: relative;
    margin-bottom: 3rem;
}

section.hot_product h2::after,
section.blog h2::after {
    position: absolute;
    left: 0;
    bottom: -15px;
    right: 0;
    height: 4px;
    width: 80px;
    background: var(--primary-color);
    content: "";
    margin: 0 auto;
}

section.hot_product ul.list_cate {
    text-align: center;
    justify-content: center;
}

section.hot_product ul.list_cate li {
    font-size: 18px;
    color: #1c1c1c;
    display: inline-block;
    margin-right: 25px;
    position: relative;
    cursor: pointer;
}

section.hot_product ul.list_cate li.active::after {
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    content: "";
}

section.hot_product .list_prod {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.5rem;
}

section.hot_product .item_col {
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 2rem;
}

section.hot_product .item {
    height: 100%;
    width: 100%;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    border-radius: 6px;
    transition: .4s;
    position: relative;
    padding-bottom: 60px;
    overflow: hidden;
}

section.hot_product .item:hover {
    transform: translateY(-4px);
}

section.hot_product .item_pic {
    height: 250px;
    position: relative;
    overflow: hidden;
}

section.hot_product .item_pic img {
    width: 100%;
    aspect-ratio: 1/1;
}

section.hot_product .item_pic:hover .item_pic_hover {
    bottom: 10px;
}

section.hot_product .item_pic_hover {
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    text-align: center;
    transition: all, 0.4s;
}

section.hot_product .item_pic_hover li {
    display: inline-block;
    margin-right: 6px;
}

section.hot_product .item_pic_hover li a {
    font-size: 16px;
    color: #1c1c1c;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ebebeb;
    background: #ffffff;
    display: block;
    border-radius: 50%;
    transition: all, 0.5s;
}

section.hot_product .item_pic_hover li a i {
    pointer-events: none;
}

section.hot_product .item_pic_hover li:hover a {
    background: var(--primary-color);
    border-color: var(--primary-color);
}

section.hot_product .item_pic_hover li:hover a i {
    position: relative;
    transform: rotate(0);
    transition: all, 0.3s;
}

section.hot_product .item_pic_hover li:hover a i {
    color: #ffffff;
    transform: rotate(360deg);
}

section.hot_product .item_text {
    text-align: center;
    padding-top: 1rem;
    text-align: left;
}

section.hot_product .item_text h6 {
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #111111;
    font-weight: 400;
}

section.hot_product .item_text h6 a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

section.hot_product .item_text h5 {
    color: var(--primary-color);
    font-size: 18px;
}

section.hot_product .item_text .under {
    position: absolute;
    padding: 0 1rem;
    bottom: .7rem;
    width: 100%;
    left: 0;
}

section.hot_product .item_text del {
    font-size: 14px;
    margin-right: 1rem;
    color: gray;
    font-weight: 400;
}

section.hot_product .item_text p {
    margin-top: .6rem;
    /* color: rgb(49, 153, 59); */
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

section.hot_product .item_text p .fa {
    color: red;
    padding-right: 6px;
}

section.hot_product .item_text .mass {
    color: #353535;
    font-weight: 500;
    font-size: .9rem;
}

section.banners .container {
    justify-content: space-between;
}

section.banners .banner {
    flex: 0 0 50%;
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

section.blog {
    padding-bottom: 50px;
}

section.blog .blog_col {
    flex: 0 0 33.333333%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 33.333333%;
}

section.blog .blog_row {
    display: flex;
    flex-wrap: wrap;
}

section.blog .blog_pic img {
    width: 100%;
    aspect-ratio: 1.5/1;
}

section.blog .blog_text {
    padding-top: 10px;
}

section.blog .blog_text .cate_blog {
    font-weight: 600;
    color: #a7a7a7;
    font-size: 1.1rem;
    margin-bottom: 8px;
}

section.blog .blog_text ul {
    margin-bottom: 10px;
}

section.blog .blog_text ul li {
    font-size: 16px;
    color: #b2b2b2;
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

section.blog .blog_text h5 {
    margin-bottom: 8px;
    font-size: 18px;
}

section.blog .blog_text p {
    margin-bottom: 25px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

section.blog .blog_text .fa-calendar-o {
    padding-right: 6px;
}