* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

body {
    font-family: 'Poppins', sans-serif;
}

.grid_container {
    display: grid;
    grid-template-areas:
        "sidebar header header header"
        "sidebar main main main"
    ;
    grid-template-columns: 280px 1fr 1fr 1fr;
    grid-template-rows: 70px 1fr;
    height: 100vh;
}

header {
    grid-area: header;
    display: flex;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 0px 0px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    padding-left: 40px;
}

header .left_site .search-box {
    border: 1px solid #7fad39;
    border-radius: 20px;
    position: relative;
    padding: 0 20px;
    width: 400px;
}

header .left_site .search-box input {
    padding: 14px 0px 14px 30px;
    border: none;
    width: 100%;
    outline: none;
}

header .left_site .search-box i {
    position: absolute;
    color: #888888;
    top: 30%;
}

header .right_site .icon-box {
    display: flex;
    align-items: center;
}

header .right_site .icon-box>div {
    position: relative;
}

header .right_site .icon-box div:not(:last-child)::after {
    content: '';
    display: inline-block;
    height: 8px;
    width: 8px;
    background-color: #7fad39;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    right: 4px;
}

header .right_site .icon-box .pulse {
    position: absolute;
    top: -12px;
    right: -4px;
    height: 20px;
    width: 20px;
    z-index: 10;
    border: 12px solid #7fad39;
    border-radius: 50px;
    animation: pulse 1s linear infinite;
}

header .right_site .icon-box i {
    font-size: 20px;
    padding: 4px;
    margin-right: 8px;
    color: #888888;
    cursor: pointer;
}

header .right_site .icon-box img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 20px;
    border: 1px solid #b5b3b3;
}

aside {
    grid-area: sidebar;
    padding: 20px 12px;
    box-shadow: rgba(99, 99, 99, 0.2) 2px 2px 8px 0px;
}

aside .logo a {
    display: block;
    text-align: center;
}

aside .logo img {
    width: 200px;
    height: 50px;
}

aside .sidebar_menu {
    padding-top: 18px;
    border-top: 1px solid #7fad39;
}

aside .sidebar_menu>li span {
    display: block;
    width: 100%;
    padding: 15px;
    cursor: pointer;
    border-radius: 12px;
    margin-bottom: 4px;
    transition: 0.3s;
    font-size: 1.1rem;
}

aside .sidebar_menu>li span:hover {
    background-color: #dffcb5;
}

aside .sidebar_menu>li.active span {
    background-color: #7fad39;
    color: white;
}

aside .sidebar_menu>li span {
    display: flex;
    align-items: center;
}

aside .sidebar_menu>li span i {
    width: 30px;
}

aside .sidebar_menu .mar {
    margin-right: 20px;
}

aside .sidebar_menu .fa-chevron-right {
    transition: 0.3s;
    margin-left: auto;
}

aside .sidebar_menu .fa-chevron-right.rotate {
    rotate: 90deg;
}

aside .ctg-prod {
    height: 0;
    overflow: hidden;
    transition: 0.3s;
}

aside .ctg-prod.active {
    overflow: visible;
    height: 310px;
}

aside .ctg-prod>li:first-child a {
    padding-top: 20px;
}

aside .ctg-prod a {
    display: block;
    padding: 10px 0;
    padding-left: 36px;
    cursor: pointer;
}

aside .ctg-prod>li.active a {
    color: #7fad39;
}

main {
    grid-area: main;
    background-color: #f5f7ff;
    padding: 40px 20px 0;
}

span.success {
    padding: 8px 12px;
    background-color: #b8e2e6;
    color: #2d7478;
    border-color: #d6e9c6;
    font-size: 16px;
    margin-left: 20px;
}

main .nav {
    display: flex;
    justify-content: space-between;
}

main .add-new span {
    cursor: pointer;
    padding: 6px 14px;
    display: block;
    color: white;
    background-color: #7fad39;
    border-radius: 8px;
}

main .above_table {
    clear: both;
    align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .above_table .ctg_name {
    font-size: 24px;
}

main .above_table .search_box input {
    padding: 8px 0px 8px 24px;
    border: none;
    width: 100%;
    outline: none;
    background-color: transparent;
}

main .above_table .search_box i {
    position: absolute;
    color: #888888;
    top: 26%;
}

main table {
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
}

main table th,
main table td {
    padding: 6px;
    text-align: center;
}

main table th {
    font-size: 16px;
}

main table td {
    font-size: 16px;
}

main table td.b-img {
    width: 140px;
}

main table td img,
img.avt-img {
    border: 1px solid #333;
    width: 36px;
    max-width: 36px;
    height: 36px;
    margin: 2px;
}

main table .last-td {
    display: flex;
    justify-content: center;
}

main table .last-td span:first-child {
    margin-right: 4px;
}

main table .last-td span {
    line-height: 28px;
    color: white;
    height: 28px;
    width: 50px;
    outline: none;
    cursor: pointer;
    border: none;
    float: left;
    border-radius: 4px;
}

main table td .change-btn {
    background-color: blue;
}

main table td .del-btn {
    background-color: red
}

main .sub_main {
    display: inline-block;
}

.add_cate {
    margin-top: 1.4rem;
    display: flex;
    gap: 5rem;
    align-items: center;
}

.add_cate input[type=text] {
    padding: 6px 10px;
    font-size: 1rem;
    border-radius: 6px;
}

.add_cate label {
    padding-right: 10px;
}

button.btn-add {
    margin-top: 1.6rem;
    padding: 10px 1.3rem;
    border-radius: 6px;
    outline: none;
    background-color: #7fad39;
    color: white;
    border: none;
    cursor: pointer;
    font-size: .9rem;
    float: right;
}

.loader-wrap {
    width: 100%;
    text-align: center;
    padding-top: 4rem;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #7fad39;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
    }
}

@keyframes pulse {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }

    25% {
        transform: scale(0.1);
        opacity: 0.1;
    }

    50% {
        transform: scale(0.5);
        opacity: 0.3;
    }

    75% {
        transform: scale(0.8);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 0.0;
    }
}